* { 
    font-family: 'share tech mono';
}

main {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: 
    "caja1"
    "caja2"
    "button"; 
    justify-items: center;
    align-items: center;
    height: 100vh;

}

section:nth-of-type(1){
    grid-area: caja1;
    background-color: black;

}

section:nth-of-type(2){
    grid-area: caja2;
    background-color: var(--highlight) ;
    background-image: url(/img/spider.gif);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}



section:nth-of-type(1), section:nth-of-type(2){
    border: 2px solid white;
    color: white;
    padding: 5%;
    margin: 0 auto;
    font-size: 16px;
    width: 90%;
    height: 35vh;
}

p {
    padding: 0.2em;
}
p span {
    color: #FF0000;
}

section:nth-of-type(3) {
    grid-area: button;
    margin: 0 auto;
}

@media (min-width: 700px) and (orientation: landscape) {
    main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
    "caja1 caja2"
    "button button"; 

 }

    section:nth-of-type(1), section:nth-of-type(2){
    font-size: 18px;
    height: 70vh;
}

    section:nth-of-type(1), section:nth-of-type(2), section:nth-of-type(3){
    margin: 0 auto;
    align-items: center;
}
}

